/*MENU*/
*{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 100%;
}


.menu-fixo {
    position: absolute; /* Ou use 'fixed' se quiser que o menu siga ao rolar a página */
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 10px;
    border-radius: 5px;
    z-index: 1000; /* Garante que o menu fique sobre as imagens */
}

.menu-fixo ul {
    list-style: none;
    margin: 10px;
    padding: 0;
    text-align: center;
}

.menu-fixo ul li {
    border: 2px ;
    display: inline;
    margin-right: 50px;
}

.menu-fixo ul li a{
    border: none;
    border-radius: 10px;
    padding:10px 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
}

/*botão login*/
.menu-fixo a{/*texto do botão login*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: 18px;
}

#cadastro, #login{
    color: #60b2e9;
}

#cadastro:hover {
    color: blue;
}

#login:hover{
    color: blue;
}

.modelos-grid{
    margin: 0 120px;
    display: flex;
}
.modelos-grid img{
    cursor: pointer;
    border-radius: 8px;
    margin: 11px 10px;
    height: 380px;
    width: 500px;
}

.modelos-grid img:hover{
    transition: all .3s ;
    transform: translateY(-20px);
    opacity: .5;
    opacity: 1;
}
.modelos-grid   {
    margin: 0px 65px;
}

.modelos-grid h2{
    margin: 0 145px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
.modelos-grid p{
    margin: 0 145px;
    font-family:'Courier New', Courier, monospace;
    font-size: large;
}
footer {
    text-align: center;
    width: 99.2%;
    background-color: #000000;
    padding: 5px;
    position: absolute;
    bottom: 20;
    /*deixa o rodape embaixo*/
    
}
footer p{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
}
footer div img{
    width: 50px;
    display: flex;
    margin: 30px 900px;
}